@import "~bootstrap/dist/css/bootstrap.css";

h1{
  height: 130px;
  color: white;
  background-color: rgb(169, 176, 214);
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(https://cdn.pixabay.com/photo/2017/06/24/07/58/coffee-2436931_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group{
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
}
.sub{
  background-color: green;
  width: 150px;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 150px;
  display: flex;
}

img{
  background-color: black;
}
.del{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 150px;
  display: flex;
  justify-content: center;
}